*{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
img{
    border: 0;
}
/*-------------Import fonts ---------------------------------------*/

/*--------头开始-------*/
html,body{
    height: 2000px;
    width: 100%;
    /*overflow-x:hidden;*/
}
#head{
    position: relative;
    overflow: hidden;
}
#slider{
    height: 100%;
    width: 100%;
}
/*-----导航开始-------*/
#big-nav{
    width: 500px;
    height: 70px;
    background: #000;
    z-index: 22;
    position: fixed;
    top: 0;
    right: 0;
}
#p-name{
    height: 70px;
    width: 200px;
}
.nav-button {
    position: absolute;
    top: 25px;
    right: 16px;
    z-index: 21;
    width: 30px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    font-size: 24px;
}
.nav-button::before {
    content: '';
    position: absolute;
    top: -10px;
    left: -20px;
    background: #292929;
    width: 2px;
    height: 100%;
}
.nav-button span {
    width: 100%;
    float: left;
    margin-bottom: 5px;
    height: 3px;
    background: #fff;
    position: relative;
}
.nav-button span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    background: #FFC815;

    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.nav-button:hover span::before{
    width: 100%;
}
.nav-button.cmenu .nbs{
    display: none;
}
.nav-button.cmenu .ncs {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-bottom: 0;
    top: 6px;
}
.nav-button.cmenu .nos {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-bottom: 0;
    top: 9px;
}

#s-nav{
    background: rgba(0,0,0,0.7);
    color: #fff;
    width: 500px;
    height: 100%;
    font-size: 25px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 21;
    display: none;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-transform: perspective(200px) rotateX(-15deg) scale(0.75);
    -moz-transform: perspective(200px) rotateX(-15deg) scale(0.75);
    -o-transform: perspective(200px) rotateX(-15deg) scale(0.75);
    -ms-transform: perspective(200px) rotateX(-15deg) scale(0.75);
    transform: perspective(200px) rotateX(-15deg) scale(0.75);
    animation: ndown 0.5s ease-out forwards;
}
@keyframes ndown {
    100%{
        -webkit-transform: perspective(200px) rotateX(0deg) scale(1.0);
        -moz-transform: perspective(200px) rotateX(0deg) scale(1.0);
        -o-transform: perspective(200px) rotateX(0deg) scale(1.0);
        -ms-transform: perspective(200px) rotateX(0deg) scale(1.0);
        transform: perspective(200px) rotateX(0deg) scale(1.0);
    }
}

.nav-decor {
    position: absolute;
    z-index: 2;
    width: 50px;
    height: 50px;
}
.nav-decor-l {
    left: 50px;
    top: 100px;
}
.nav-decor-l::before,.nav-decor-r::before{
    height: 2px;
    width: 50px;
    left: 2px;
}
.nav-decor-l::after ,.nav-decor-r::after{
    height: 50px;
    width: 2px;
}
.nav-decor-l::before, .nav-decor-l::after {
    left: 0;
    top: 0;
}
.nav-decor::before, .nav-decor::after {
    content: '';
    position: absolute;
    background: rgba(255,255,255,0.51);
}
.nav-decor-r {
    right: 50px;
    bottom: 50px;
}
.nav-decor-r::before, .nav-decor-r::after {
    right: -2px;
    bottom: 0;
}

#a-line{
    position: absolute;
    width: 60%;
    height: 2px;
    left: 20%;
    top: 50%;
    background: rgba(255,200,21,0.5);
    transform: rotate(-45deg);
     -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
}
#ul-nav{
margin-top: 173px;
}

#s-nav .b-a a,.l-span{
display: block;
text-align: center;
padding: 12px 0;
color: #fff;
font-size: 24px;
}
.s-list{
font-size: 15px;
width: 100%;
height: 0;
overflow: hidden;
-webkit-transition: height 1s;
-moz-transition: height 1s;
-ms-transition: height 1s;
-o-transition: height 1s;
transition: height 1s;
}
.b-a:hover .s-list{
height: 90px;
}
#s-nav .s-list a{
display: block;
color: #fff;
text-align: center;
font-size: 15px;
padding: 5px 0;
height: 20px;
}
#s-nav .s-list a:hover{
background: rgba(300,300,300,.4);
color: #FFC815;
}

/********导航结束******/

/*头结束*/
/*------内容开始--------*/
#nav{
    z-index: 21;
    position: relative;
    top: 0;
    left: 0;
    overflow: hidden;
    /*display: none;*/
}
#nav ul{
    background: #000000;
    color: #fff;
    height: 70px;
    width: 50vw;
    padding: 0 5vw;
    /*position: fixed;*/
}
#nav ul a{
    display: block;
    width: 10vw;
    line-height: 70px;
    float: left;
    text-align: center;
    cursor: pointer;
    color: #fff;
}
#nav li a:hover{
    color: #FFC815;
}
#nav .select a:hover{
    color: #fff;
}
#nav ul .select a{
    background: #FFC815;
    color: #000;
}
/*-----part1-start----*/
#part1{
    display: flex;
    height: 100%;
}
#l-part{
    flex-grow: 2;
    width: 0;
    height: 100vh;
    overflow: hidden;
}
#l-part2{
    position: relative;
    top: 0;
    left: 0;
}
#vertical{
    width: 80vh;
    height: 450vh;
    position: relative;
    top: 0;
    left: 0;
    transition: all 0.2s linear;
}
#l-part img{
    height: 90vh;
    width: 80vh;
    float: left;
}
#l-part h3{
    color: #ffffff;
    font-size: 4vw;
    z-index: 2;
    position: absolute;
    left: 30%;
    top: 230px;
    text-shadow: 2px 2px 10px #292929;
    padding-bottom: 10px;
    border-bottom: 7px solid #FFC815;
}
.c-line{
    width: 1vw;
    height: 70vh;
    z-index: 2;
    position: absolute;
    left: 15%;
    top: 60px;
    background: rgba(255, 255, 255, 0.7);
}
.d-line{
    width: 30vw;
    height: 1vw;
    z-index: 2;
    position: absolute;
    left: 5%;
    top: 425px;
    background: rgba(255, 255, 255, 0.7);
}
#r-part{
    flex-grow: 3;
    width: 0;
}
#r-part .wrapper{
    margin: 30px 30px 0 30px;
    padding-top: 70px;
}
.t-part .who{
    background: #FFC815;
    width: 20vw;
    height: 70px;
    line-height: 70px;
    text-align: center;
    font-size: 2.5vmax;
    font-weight: 400;
}
.t-part .about{
    padding: 20px 0;
    font-size: 4.2vmax;
    width: 18vw;
    border-bottom: 2px solid #FFC815;
}
.t-part .e-line{
    width: 5vw;
    height: 4px;
    background: #FFC815;
}

#content{
    display: flex;
    margin-top: 5vh;
}
#img-small img{
    width: 20vw;
    height: 24vw;
}
#business-card{
    margin-left: 30px;

}
#business-card .letter{
    font-weight: 400;
    margin-bottom: 5px;
}

#data{
height: 150px;
margin-top: 30px;
}
#data .s-l-part{
    margin-top: 20px;
    vertical-align: 50%;
    float: left;
    width: 130px;
    height: 110px;
    background: #ffc815;
    position: relative;
}
#data .s-l-part h3{
    font-size: 23px;
    text-align: center;
    margin-top: 23px;
}
#data .s-l-part::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: -20px;
    width: 0;
    border-width: 15px;
    border-style: solid;
    border-left-color: #ffc815;
    border-right-color: transparent;
    border-top-color: transparent;
    border-bottom-color: #ffc815;

}
#data .s-r-part{
    vertical-align: 50%;
    float: right;
    margin-left: 20px;
    text-align: center;
}
#data .s-r-part .data-1{
    padding-right: 2vw;
    float: left;
}
#data .s-r-part .data-1 h3{
    font-size: 7vw;
}
#data .s-r-part .data-1 div{
    font-size: 13px;
}

/*-----part1-end-----*/
.dividing-line{
    margin: 100px 0 50px 60px;
    width: 50vw;
    height: 2px;
    background: rgba(207, 207, 207, 0.5);
}
/*-----part2-start---*/

#bio{
    margin: 30px 0;
}
#bio p{
    color: #ffc815;
    margin-bottom: 5px;
}
#bio h3{
    font-weight: 500;
    margin-bottom: 7px;
    font-size: 17px;
}
/*-----part2-end-----*/
/*-----part3-start---*/
#b-part{
    position: relative;
    width: 700px;
    height: 582px;
    overflow: hidden;
}
#arrow{
    position: absolute;
    top: 40px;
    right: 5px;
}
#arrow i{
    transition: all 0.3s ease-out;
    cursor: pointer;
}
#arrow i:hover{
    color: #ccc;
}
#arrow #gt{
    margin-left: 10px;
}
#work{
    margin-top: 80px;
    width: 1450px;
    position: absolute;
    top: 0;
    left: 0;
}
.works{
    width: 300px;
    height: 500px;
    border: 1px solid #ccc;
    position: relative;
    float: left;
    margin: 0 30px;
    transition: all 0.5s linear;
}
.works img{
    width: 280px;
    height: 180px;
    margin-left: 10px;
}
.works h4{
    text-align: center;
    font-size: 25px;
    margin: 10px 0;
}
.works p{
    margin:10px 20px 10px 20px ;
    font-size: 19px;
    font-weight: 300;
}
.go{
    position: absolute;
    bottom: 10px;
    left: 70px;
    border: 2px solid #ccc;
    border-radius: 15px;
    color: #FFC815;
    width: 120px;
    height: 40px;
    font-size: 20px;
    text-align: center;
    line-height: 32px;
    cursor: pointer;
    transition: all 0.33s linear;
}
.go:hover{
    background: #ffc815;
    color: #fff;
    border: 2px solid #FFE0E9;
}
/*  part4  */
.t-part{
    position: relative;
}
.piechart {
    position: relative;
    padding: 0 15px 20px;
}
.sect-subtitle span{
    font-size: 80px;
}
.sect-subtitle {
    position: absolute;
    top: 30%;
    left: 30%;
    opacity: 0.2;
    color: #ccc;
    font-weight: bold;
    text-transform: uppercase;
}
.vc_col-sm-12{
    position: relative;
    margin-top: 70px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.chart {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-bottom: 26px;
    text-align: center;
}
.percent {
    display: inline-block;
    font-size: 21px;
    line-height: 152px;
    z-index: 2;
}
.percent:after {
    content: '%';
    margin-left: 0.1em;
    font-size: .8em;
}

.chart canvas {
    position: absolute;
    top: 0;
    left: 0;
}
canvas {
    max-width: 100%;
}
.skills-description {
    float: left;
    width: 100%;
    margin: 10px 0;
    text-transform: uppercase;
    /*color: #666;*/
    text-align: center;
    color: #FFC815;
}
.skills-description h4{
    font-weight: 400;
    font-size: 16px;
}
.col-md-8{
    width: 100%;
    padding: 0 15px;
    position: relative;
}
.skillbar-box {
    float: left;
    width: 100%;
    position: relative;
    margin-bottom: 50px;
}
.skill-bar-percent {
    float: right;
    font-size: 16px;
    margin-top: 13px;
    padding-bottom: 6px;
}
.skillbar-bg {
    position: relative;
    display: block;
    float: left;
    width: 100%;
    height: 10px;
    overflow: hidden;
    background: #eee;
}
.custom-skillbar {
    height: 10px;
    width: 0px;
    background: #ffc815;
}
.custom-skillbar-title span {
    float: left;
    font-size: 12px;
    margin-top: 12px;
    padding-bottom: 6px;
}
.skill-bar-percent {
    float: right;
    font-size: 16px;
    margin-top: 13px;
    padding-bottom: 6px;
}
/*  part5  */
.viselem{
    padding-top: 50px;
    background: rgba(9, 9, 9, 1);
}
.row{
    display: flex;
}
.col-md-4{
    flex-grow: 1;
    width: 0;
}
.footer-info h4 {
    float: left;
    width: 100%;
    /*color: #fff;*/
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    text-align: left;
    margin-bottom: 45px;
    color: #fff;
}
.footer-social i{
    background: #ffc815;
    color: rgba(0,0,0,1);
    font-size: 25px;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    font-weight: bold;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    float: left;
    margin:1px 3px 0 0;
}
.footer-info h4:before {
    content: '';
    position: absolute;
    bottom: -7px;
    left: 0;
    width: 60px;
    height: 2px;
    background: #ffc815;
}

.footer-social i:hover{
    color: rgba(53, 53, 53, 0.7);
}

.footer-contacts li {
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
    font-size: 14px;
}

.footer-contacts li a{
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
    color: #707070;
    font-size: 12px;
    text-transform: uppercase;
}
.footer-contacts li a i{
    color: rgba(255,200,21,1);
}
.footer-contacts li a:hover{
    color: #a6a6a6;
}
.footer-contacts li a:hover i{
    color: rgba(255,200,21,0.5);
}
.footer-contacts .icon-fangkuai{
    font-weight: 900;
    font-size: 16px;
}
.y-advice h2,.y-advice form{
    color: #fff;
}
.y-advice{
    margin: 15px 0 0 35px;
}
.y-advice textarea{
    margin-left: 45px;
    outline: none;
}
input{
    outline: none;
}
#sub{
    background: #ffc815;
    color: #fffdef;
    width: 130px;
    height: 35px;
    font-size: 16px;
    margin-left: 46px;
    border: 1px solid #ffff00;
    cursor: pointer;
}
#cont{
    position: relative;
}
.r-block{
    width: 30px;
    height:  64.8%;
    background: #000000;
    position: absolute;
    right: -4.3%;
    bottom: 0;

}
/*  part5  end*/
/*------内容结束--------*/
/*footer 开始*/
.copyright{
    background: #000;
    position: relative;
    z-index: 20;
}
.container {
    max-width: 900px;
    width: 92%;
    margin: 0 auto;
}
.last{
    height: 80px;
    position: relative;
}
.to-top-holder p {
    color: #fff;
    position: relative;
    top: 35px;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 24px;
    padding-bottom: 10px;
}
.to-top-holder p:before {
    width: 2px;
    height: 50px;
}
.to-top-holder p:after {
    width: 50px;
    height: 2px;
}
.to-top-holder p:before, .to-top-holder p:after {
    content: '';
    position: absolute;
    top: -25px;
    left: 150px;
    z-index: 2;
    background: #ffc815;
}

#to-top {
    cursor: pointer;
    overflow: hidden;
    position: absolute;
    right: 30px;
    bottom: 5px;
    width: 50px;
    height: 70px;
    font-size: 24px;
    color: #fff;
    line-height: 70px;
    background: #FFC815;
}
#to-top .icon-huidaodingbu{
    font-size: 36px;
    font-weight: 900;
}
#to-top i, .footer-social li a i,.footer-contacts li {
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    transition: all 300ms linear;
}
/*footer 结束*/
